<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khóa học</title>
    <link rel="icon" href="https://res.cloudinary.com/dtlz0jfb6/image/upload/v1743407933/wnfmvxozfojo9seoywjb.png">

    <!-- custom css -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/course.css">

    <!-- swiper css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <!-- box icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- header design -->
    <header class="header">
        <a href="/" class="logo"><i class='bx bx-book-bookmark'></i> EducationX</a>
        <nav class="navbar">
            <a href="/">Trang chủ</a>
            <a href="/course" class="active">Khóa học</a>
            <a href="/teacher">Giảng viên</a>
            <a href="/contact">Liên hệ</a>
        </nav>
        {% if loggedin %}
            <div class="dropdown">
                <p id="name-user">{{ username }}</p>
                <p><img src="{{ avatar }}" alt="" class="icon-user"></p>
                <i class='bx bx-chevron-down' id="dropdown"></i>
            </div>
            <div class="user-inf">
                <a href="/{{ username }}"><p>Trang cá nhân</p></a>
                <a href="/admin"><p>Quản lý</p></a>
                <hr>
                <a href="#"><p>Yêu thích</p></a>
                <a href="#"><p>Bài viết của tôi</p></a>
                <a href="#"><p>Bài viết đã lưu</p></a>
                <hr>
                <a href="/{{ username }}/edit"><p>Cài đặt</p></a>
                <a href="/logout" onclick="logout()"><p>Đăng xuất</p></a>
            </div>
        {% else %}
            <p id="signup">Đăng ký</p> 
            <p id="login">Đăng nhập</p>
        {% endif %}
        <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <!-- popup section design -->
    <div class="popup-overlay" id="popupOverlay" onclick="closeLoginPopup()">
        <div class="wrapper" id="wrapperPopup" onclick="event.stopPropagation()">
            <span class="close-btn" onclick="closeLoginPopup()"><i class='bx bx-x'></i></span>
            <div class="form-box login">
                <h2>Đăng nhập</h2>
                <form id="loginForm">
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-envelope'></i></span>
                        <input type="email" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                        <input type="password" name="password" id="password" placeholder="Mật khẩu">
                    </div>
                    <div class="remember-forgot">
                        <label for="checkbox"><input type="checkbox" name="checkbox" id="checkbox"> Lưu thông tin</label>
                        <p class="forgotPass">Quên mật khẩu?</p>
                    </div>
                    <button type="submit" class="btn">Đăng nhập</button>
                    <p id="loginMessage"></p>
                    <div class="login-register">
                        <p>Bạn chưa có tài khoản? <span class="register-link">Đăng ký</span></p>
                    </div>
                </form>
            </div>
            <div class="form-box register">
                <h2>Đăng ký</h2>
                <form id="registerForm">
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-user'></i></span>
                        <input type="text" name="username" id="registerName" placeholder="Họ tên">
                    </div>
                    <p class="validation-message">{{ username_error }}</p>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-envelope'></i></span>
                        <input type="email" name="email" id="registerEmail" placeholder="Email">
                    </div>
                    <p class="validation-message">{{ email_error }}</p>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                        <input type="password" name="password" id="registerPassword" placeholder="Mật khẩu">
                    </div>
                    <div class="input-box">
                        <select name="role" id="registerRole">
                            <option value="" disabled selected>Chọn vai trò</option>
                            <option value="STUDENT">Học viên</option>
                            <option value="TEACHER">Giáo viên</option>
                        </select>
                    </div>
                    <p class="validation-message">{{ role_error }}</p>                    
                    <div class="remember-forgot">
                        <label for="agree"><input type="checkbox" name="agree" id="agree"> Tôi đồng ý với các điều khoản & điều kiện</label>
                    </div>
                    <p class="validation-message">{{ password_error }}</p>
                    <button type="submit" class="btn">Đăng ký</button>
                    <p id="registerMessage"></p>
                    <div class="login-register">
                        <p>Bạn đã có tài khoản? <span class="login-link">Đăng nhập</span></p>
                    </div>
                </form>
                <p class="fail-message">{{ registration_fail | safe}}</p>
            </div>
        </div>
    </div>

    <!-- all courses section design -->
    <section class="courses" id="courses">
        <div class="branch-list">
            <h5>Lĩnh vực</h5>
            <div class="branch-list-item">
                <!-- <a href="#" class="active">Tất cả</a>
                <a href="#">Lập trình</a>
                <a href="#">Thiết kế</a>
                <a href="#">Kinh doanh</a>
                <a href="#">Marketing</a>
                <a href="#">Âm nhạc</a>
                <a href="#">Nghệ thuật</a> -->
            </div>
        </div>
        <div class="course-list">
            <div class="header-course">
                <h5>Danh sách khóa học</h5>
                <div class="search-bar">
                    <i class='bx bx-search'></i>
                    <input type="text" id="searchInput" placeholder="Tìm kiếm khóa học..." />
                </div>
            </div>
            <div class="course-container">
                <!-- <div class="course-box">
                    
                    <img src="https://files.fullstack.edu.vn/f8-prod/courses/3.png" alt="">
                    <div class="course-inf">
                        <div class="time">
                            <h5>7hr 24m</h5>
                        </div>
                        <div class="price">
                            <h5>$99.00 USD</h5>
                        </div>
                    </div>
                    <div class="course-layer">
                        <h4>Graphic Design</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In tenetur voluptates culpa fuga possimus!</p>
                        <div class="course-end">
                            <img src="https://res.cloudinary.com/dtlz0jfb6/image/upload/v1743412801/xzcj4oza387tbujbevnn.jpg" alt="">
                            <p>Trần Nhân Phát</p>
                            <a href="#">Đăng ký ngay</a>
                        </div>
                    </div>
                    
                </div> -->
            </div>
        </div>
    </section>

    <!-- footer section design -->
    <footer class="footer">
        <div class="footer-name">
            <a href="#" class="logo"><i class='bx bx-book-bookmark'></i> Education X</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Similique magni omnis laudantium sequi!</p>
        </div>
        <div class="footer-contain">
            <div class="footer-box">
                <i class='bx bx-envelope' ></i>
                <h2>Subscribe to our newsletter</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Quidem beatae maxime necessitatibus aut repellendus aliquid.</p>
                <textarea name="" id="" cols="30" rows="8" placeholder="Your Message"></textarea>
                <input type="submit" value="Send Message" class="btn">
            </div>
            <div class="footer-box">
                <h2>Pages</h2>
            </div>
            <div class="footer-box">
                <p>Home</p>
            </div>
            <div class="footer-box">
                <p>About</p>
            </div>
            <div class="footer-box">
                <p>Courses</p>
            </div>
            <div class="footer-box">
                <p>Individual Course</p>
            </div>
            <div class="footer-box">
                <p>Resourse Center</p>
            </div>
            <div class="footer-box">
                <p>Blog Post</p>
            </div>
            <div class="footer-box">
                <p>Event</p>
            </div>
            <div class="footer-box">
                <p>Individual Event</p>
            </div>
            <div class="footer-box">
                <p>Teachers</p>
            </div>
            <div class="footer-box">
                <p>Individual Teacher</p>
            </div>
            <div class="footer-box">
                <p>Contact</p>
            </div>
            <div class="footer-box">
                <h2>Utility pages</h2>
            </div>
            <div class="footer-box">
                <p>Start Here</p>
            </div>
            <div class="footer-box">
                <p>Styleguide</p>
            </div>
            <div class="footer-box">
                <p>404 Not Found</p>
            </div>
            <div class="footer-box">
                <p>Password Protected</p>
            </div>
            <div class="footer-box">
                <p>Licenses</p>
            </div>
            <div class="footer-box">
                <p>Changelog</p>
            </div>
        </div>
        <div class="footer-end">
            <div class="footer-text">
                <p>Copyright &copy; Education X | Designed by BRIX Templates - Powered by Nin</p>
            </div>
            <div class="footer-iconTop">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
                <a href="#"><i class='bx bxs-phone'></i></a>
            </div>
        </div>
    </footer>

    <!-- swiper js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- custom js -->
    <script src="/static/js/script.js"></script>
    <script type="module" src="/static/js/course.js"></script>
</body>
</html>