{% extends './layout/admin_base.html'%}
{%block style%}
<link href="{{url_for('static',filename='css/courses/admin_courses_detail.css')}}" rel="stylesheet" />
{%endblock%}
{% block content %}
<div class="detail-course">
    <div class="detail-course-header align-left">
        <div class="header-return align-left">
            <a 
                href="/admin/courses"
                class="return-link"
            >
                <i class='bx bx-arrow-back return-icon'></i>
            </a>
            
        </div>
        <div class="header-title align-left">
            <p class="return-text">Return to courses</p>
            <h2 class="title-text">Course Details</h2>
        </div>
    </div>
    <div class="detail-course-section">
        <div class="course-info-section">
            <div class="course-info-card name-card align-center">
                <h3 class="info-card-name">Course Name</h3>
                <p class="info-card-value" id="course-name"></p>
            </div>
            <div class="course-info-card intro-card align-center">
                <h3 class="info-card-name">Course Introduction</h3>
                <p class="info-card-value" id="course-intro"></p>
            </div>
            <div class="course-info-card align-left">
                <h3 class="info-card-name">Course Preview Image</h3>
                <img 
                    src="{{url_for('static', filename='images/course_placeholder.svg')}}" 
                    alt="course introduction image" 
                    class="course-image-preview"
                />
            </div>
            <div class="course-info-card align-left">
                <h3 class="info-card-name">Number of Lessons (expected)</h3>
                <p class="info-card-value" id="course-numOfLessons"></p>
            </div>
            <div class="course-info-card align-left">
                <h3 class="info-card-name">Category</h3>
                <p class="info-card-value" id="course-category"></p>
            </div>
            <div class="course-info-card align-left">
                <h3 class="info-card-name">Level</h3>
                <p class="info-card-value" id="course-level"></p>
            </div>
            <div class="course-info-card desc-card align-center">
                <h3 class="info-card-name">Course Description</h3>
                <p class="info-card-value" id="course-description"></p>
            </div>
        </div>
        <div class="course-lesson-section">
            <h3 class="course-lesson-title">Course Lessons</h3>
            <table class="course-lesson-table">
                <thead>
                    <tr class="course-lesson-head">
                        <th class="align-left">No.</th>
                        <th class="align-left">Lesson Name</th>
                        <th class="align-right">Lesson Content</th>
                    </tr>
                </thead>
                <tbody class="course-lesson-tbody">
                </tbody>
                
                <!--
                <div class="course-lesson-card">
                    
                    <div class="lesson-card-header">
                        <span class="course-lesson-number">Lesson 1</span>
                        <i class='bx bx-x course-lesson-delete'></i>
                    </div>
                    
                    <div class="form-field lesson-name-field">
                        <label for="lessonName_1" class="form-label">
                            <span class="field-name lesson-name">Lesson Name</span>
                            <input 
                                type="text"
                                id="lessonName_1"
                                name="lessonName_1"
                                class="form-input lesson-name-input"
                                placeholder="Enter the name of this lesson"
                            />
                        </label>
                        
                    </div>
                    <div class="form-field lesson-video-field">
                        <label for="lessonVideo_1" class="form-label">
                            <span class="field-name lesson-video">Lesson Video</span>
                            <input 
                                type="file"
                                id="lessonVideo_1"
                                name="lessonVideo_1"
                                class="form-input lesson-video-input"
                                accept="video/*"
                            />
                            <video 
                                id="videoPreview" 
                                class="lesson-video-preview" 
                                style="display: none;"
                                controls 
                                width="400">
                            </video>
                        </label>
                        
                    </div>
                    <div class="form-field lesson-content-field">
                        <label for="lessonContent_1" class="form-label">
                            <span class="field-name lesson-name">Lesson Content</span>
                            <textarea 
                                id="lessonContent_1"
                                name="lessonContent_1"
                                class="form-input lesson-content-input"
                                cols="100" 
                                rows="7" 
                            >
                            </textarea>

                        </label>
                        
                    </div>

                </div>
                -->
                
            </table>
        </div>
    </div>
</div>
{% endblock %}
{%block javascript%}
<script type="module" src="{{url_for('static', filename='js/courses/admin_courses_detail.js')}}"></script>
{%endblock%}
